/* common RULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #9793e5;
    --secondary: #0084fd;
    --secondary-soft: #b4ddfe;
    --accent: #fdc15f;
    --dark: #292929;
    --darker: #000;
    --light: #fffefe;
    
}
 body {
    font-family: 'PT Sans', sans-serif;
 }

/* #region UTILITIES */

.container {
    max-width: 80%;
    margin: 0 auto;
}

.container_small {
    max-width: 60%;
    margin: 0 auto;
}

.container_smaller {
    max-width: 45%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

section {
    padding: 2rem 0;
}

[class^="col_"] {
    padding-right: 0.5rem;
    padding-top: 1rem;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* #region COLUMN */
.col_1 {
    width: calc(100% / 12 *1);
}

.col_2 {
    width: calc(100% / 12 *2);
}

.col_3 {
    width: calc(100% / 12 *3);
}

.col_4 {
    width: calc(100% / 12 *4);
}

.col_5 {
    width: calc(100% / 12 *5);
}

.col_6 {
    width: 50%;
}

.col_7 {
    width: calc(100% / 12 *7);
}

.col_8 {
    width: calc(100% / 12 *8);
}

.col_9 {
    width: calc(100% / 12 *9);
}

.col_10 {
    width: calc(100% / 12 *10);
}

.col_11 {
    width: calc(100% / 12 *11);
}

.col_12 {
    width: 100%;
}

/* #endregion COLUMN */

/* #endregion UTILITIES */


/* #region DEBUG */

.debug .logo {
    height: 50px;
    width: 150px;
    border: 1px solid black;
}

.debug .menu {
    height: 50px;
    width: 500px;
    border: 1px solid black;
}

.debug [class^="col_"] {
    height: 350px;
    border: 1px solid black;
}

.debug .title {
    height: 100px;
    border: 1px solid red;
}

.debug .testimonial {
    height: 100px;
    border: 1px solid black;
}

.debug .partners .picture {
    background-color: blue;
    width: 100px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
}

.debug .banner .container {
    background-color: blue;
    height: 300px;
}

.debug footer {
    height: 300px;
}

/* #endregion DEBUG */



/* #region HEADER */

header {
    background-color: var(--secondary);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav a {
    padding: 0 0.5rem;
    color: white;
}

.menu, .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu .start {
    background-color: white;
    border-radius: 20px;
    padding: 0.5rem 0.5rem;
}

.start a {
    color: var(--darker);
}

.menu i {
    color: white;
    display: none;
}
/* #endregion HEADER */



/* #region MAIN */

.demo .card {
    background-color: var(--secondary-soft);
    border-radius: 15px;
}

.card img {
    width: 35%;
    float: right;
    padding-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.card h4 {
    color: var(--secondary);
    padding-top: 2rem;
    font-size: 20px;
}

.demo .card p, .info_benefits p {
    padding: 1rem 1rem;
    color: var(--dark);
    line-height: 1.5rem;
    font-size: 14px;
    font-weight: bold;
}

.card a {
    color: white;
    background-color: var(--secondary);
    border-radius: 20px;
    padding: 0.5rem 3rem;
}

.card i {
    font-size: 60px;
    padding-top: 1.5rem;
    color: var(--secondary);
}

.get_demo h4, .info_benefits h2, .info_benefits h4 {
    padding-left: 1rem;
}

.card .app_store, .info_benefits .more_btn {
    margin-left: 1rem;
}

.card .app_store i {
    font-size: 20px;
    padding-right: 0.5rem;
    color: white;
}

.cd_small, .development {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cd_small p, .development p {
    text-align: center;
    padding-bottom: 1rem;
}

.clean_code, .branding {
    padding-right: 0;
}

.row_planning {
    align-items: flex-end;
}

.card_planning {
    color: white;
}

.card_planning img {
    padding: 1rem;
}

.card_planning h3 {
    margin-top: 5rem;
}

.card_planning p {
    margin-top: 3rem;
    line-height: 25px;
    font-size: 14px;
}

.development {
    background-color: white;
    border-radius: 40px;
    padding: 0 0.5rem;
    margin: 0 2rem;
}

.development img {
    width: 40%;
}

.development h4 {
    color: var(--darker);
}

.development p {
    font-size: 14px;
    font-style: italic;
    padding: 1rem;
}

.arrow {
    background-color: var(--primary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 2rem 0;
}

.arrow i {
    color: var(--darker);
    font-size: 20px;
    padding-top: 0;
}  

.partners {
    text-align: center;
}

.partners span {
    font-size: 12px;
}

.partners .title h2 {
    padding: 1rem 0;
    font-size: 30px;
    color: var(--primary);
}

.partners p {
    font-size: 14px;
    padding: 0 2rem;
}

.testimonial {
    background-color: var(--primary);
    border-radius: 20px;
    padding: 1rem 0.5rem;
    margin: 1rem 0;
}

.testimonial img {
    float: left;
    object-fit: cover;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 2rem;
}

.testimonial p  {
    text-align: start;
    padding: 1.5rem 0;
    color: white;
    line-height: 25px;
}

.testimonial_name {
    text-align: start;
    color: white;
    font-size: 14px;
}

.planning, .benefits, .banner {
    background-color: var(--primary);
}

.partners .title, .benefits .heading_bnf {
    margin-bottom: 1rem;
}

.partners [class^="col_"] {
    background-color: var(--primary);
}

.benefits [class^="col_"] {
    background-color: white;
}

.heading_bnf h2 {
    color: white;
    text-align: center;
    font-size: 60px;
}

.benefit {
    border-radius: 15px;
    margin-top: 2rem;
}

.info_benefits {
    padding-bottom: 3rem;
    padding-left: 1rem;
}
.info_benefits h2 {
    color: var(--primary);
    font-size: 70px;
}

.info_benefits h4 {
    color: var(--primary);
    font-size: 22px;
}

.info_benefits p {
    color: #a1a1a1;
    font-weight: 500;
    padding: 2rem 1rem;
}

.more_btn a{
    background-color: var(--primary);
    color: white;
    padding: 0.5rem 3rem;
    border-radius: 20px;
}


.about_us h2 {
    color: var(--primary);
    font-size: 60px;
}

.about_us p {
    line-height: 30px;
    padding: 1rem 0;
}

.avatar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 3rem;
}

.avatar img {
    object-fit: cover;
    border-radius: 50%;
    width: 300px;
    height: 250px;
}

.avatar h2 {
    color: var(--primary);
    font-size: 30px;
    padding-top: 1rem;
}

.quote {
    position: relative;
    top: -500px;
    left: 180px;
}

.quote i {
    color: var(--primary);
    font-size: 80px
}

.linkedin_btn {
    padding-top: 2rem;
}

.linkedin_btn a{
    background-color: var(--primary);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

.banner {
    text-align: center;
}

.banner .notehead {
    color: #cacaca;
}

.banner h3 {
    color: white;
    font-size: 50px;
}

.banner h2 {
    color: var(--accent);
    font-size: 80px;
}

.banner p {
    color: white;
    padding: 1rem 4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.start_btn a {
    background-color: white;
    color: var(--primary);
    padding: 1.5rem 5rem;
    border-radius: 50px;
}

.start_btn {
    margin-bottom: 3rem;
}

.copyright {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.copyright {
    color: white;
}

.copyright a {
    color: white;
    text-decoration: underline;
}

.copyright i {
    font-size: 8px;
    align-self: center;
    padding: 0 0.5rem;
}
/* #endregion MAIN */


/* #region FOOTER */

footer {
    background-color: var(--dark);
    text-align: center;
    padding: 3rem 0;
    color: rgb(212, 212, 212);
}

footer p {
    padding: 0 3rem;
    margin-bottom: 2rem;
}

footer a {
    color: var(--primary);
    text-decoration: underline;
}
/* #endregion FOOTER */




/* #region RESPONSIVE */

@media screen and (max-width: 768px) {

    .container {
        max-width: 70%;
    }
     
    .get_demo {
        display: flex;
        flex-direction: column-reverse;
    }

    .card {
        text-align: start;
    }
    
    .info {
        padding: 0 1rem;
    }
    .card img {
        width: 80%;
    }

    .demo .cd_small p {
        padding: 1rem 3rem;
        line-height: 30px;
        font-weight: bold;
    }

    .container_small {
        width: 80%;
    }

    .card_planning h3 {
        font-size: 35px;
    }

    .card_planning p {
        font-size: 16px;
        padding-bottom: 1rem;
    }

    .development {
        padding: 0;
        margin: 0;
    }

    .development h4 {
        font-size: 25px;
    }
    
    .development p {
        padding: 1rem 1rem;
        font-size: 18px;
        line-height: 25px;
    }
    
    .title {
        padding: 2rem 0;
    }

    .partners .title h2 {
        padding-top: 2rem;
    }

    .partners .notehead {
        font-size: 20px;
    }

    .partners .title p {
        line-height: 25px;
        font-size: 16px;
    }

    .testimonial {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bio p, .testimonial_name {
        text-align: center;
    }
    
    .testimonial img {
        margin: 0;
    }

    .planning h3 {
        font-size: 70px;
    }
}
/* 
@media screen and (min-width: 480px) and (max-width: 1200px) {
   
} */

@media screen and (min-width: 768px) {
 
    .col_md_4 {
        width: calc(100% / 12 *4);
    }    

    .col_md_6 {
        width: calc(100% / 12 *6);
    }

    .col_md_8 {
        width: calc(100% / 12 *8);
    }

    .container {
        max-width: 720px;
    }

    .container_small {
        max-width: 720px;
    }

    .card img {
        width: 60%;
    }

    .code {
        padding-bottom: 30%;
    }

    .get_demo {
        display: flex;
        flex-direction: column-reverse;
    }

    .card {
        text-align: start;
    }
    
    .info {
        padding: 0 1rem;
    }

    .development {
        margin-top: 1rem;
    }

    .development img {
        width: 70%;
    }

    .heading_bnf h2 {
        font-size: 40px;
    }
}


@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    
    .container_small {
        max-width: 900px;
    }

    .card img {
        width: 40%;
    }

    .title {
        padding: 2rem 0;
    }

    .partners .title h2 {
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: 50px;
    }

    .partners .notehead {
        font-size: 20px;
    }

    .partners .title p {
        line-height: 25px;
        font-size: 20px;
    }

    .testimonial {
        padding: 2rem 1rem;
    }

    .testimonial p {
        font-size: 20px;
    }

    .testimonial_name {
        font-size: 20px;
        font-weight: 700;
    }

    .about_us p {
        font-size: 18px;
        line-height: 40px;
    }
    .col_lg_6 {
        width: 50%;
    }
    
    .col_lg_4 {
        width: calc(100% /12 *4);
    }

    .col_lg_8 {
        width: calc(100% / 12 *8);
    }
   
}


@media screen and (max-width: 1200px) {
    
    nav ul li {
        display: none;
    }

    .menu i {
        display: block;
    }
}
/* #endregion RESPONSIVE */