/* common RULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #9793e5;
    --secondary: #0084fd;
    --secondary-soft: #b4ddfe;
    --accent: #fdc15f;
    --dark: #323332;
    --darker: #000;
    --light: #fffefe;
    
}
 

/* #region UTILITIES */

.container {
    width: 70%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

section {
    padding: 2rem 0;
}

[class^="col_"] {
    padding: 0 1rem;
}
/* #region COLUMN */
.col_1 {
    width: calc(100% / 12 *1);
}

.col_2 {
    width: calc(100% / 12 *2);
}

.col_3 {
    width: calc(100% / 12 *3);
}

.col_4 {
    width: calc(100% / 12 *4);
}

.col_5 {
    width: calc(100% / 12 *5);
}

.col_6 {
    width: 50%;
}

.col_7 {
    width: calc(100% / 12 *7);
}

.col_8 {
    width: calc(100% / 12 *8);
}

.col_9 {
    width: calc(100% / 12 *9);
}

.col_10 {
    width: calc(100% / 12 *10);
}

.col_11 {
    width: calc(100% / 12 *11);
}

.col_12 {
    width: 100%;
}

/* #endregion COLUMN */

/* #endregion UTILITIES */


/* #region DEBUG */

.debug .logo {
    height: 50px;
    width: 150px;
    border: 1px solid black;
}

.debug .menu {
    height: 50px;
    width: 450px;
    border: 1px solid black;
}

.debug [class^="col_"] {
    height: 300px;
    border: 1px solid black;
}

.debug .title {
    height: 100px;
    border: 1px solid red;
}

.debug .testimonial {
    height: 100px;
    border: 1px solid black;
}

.debug .partners .picture {
    background-color: blue;
    width: 100px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
}

.debug .banner .container {
    background-color: blue;
    height: 300px;
}

.debug footer {
    height: 300px;
}

/* #endregion DEBUG */



/* #region HEADER */

header {
    background-color: var(--secondary);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    padding: 0 0.5rem;
    color: white;
}

.menu, .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu .start {
    background-color: white;
    border-radius: 20px;
    padding: 0.5rem 0.5rem;
}

.start a {
    color: var(--darker);
}

.menu i {
    color: white;
    display: none;
}
/* #endregion HEADER */



/* #region MAIN */

.demo [class^="col_"] {
    background-color: var(--secondary-soft);
}

.planning, .benefits, .banner {
    background-color: var(--primary);
}

.partners .title, .benefits .title {
    margin-bottom: 1rem;
}

.partners [class^="col_"] {
    background-color: var(--primary);
}

.benefits [class^="col_"] {
    background-color: white;
}
/* #endregion MAIN */




/* #region FOOTER */

footer {
    background-color: var(--dark);
}

/* #endregion FOOTER */




/* #region RESPONSIVE */

@media screen and (max-width: 480px) {
    nav ul li {
        display: none;
    }

    .menu i {
        display: block;
    }
}

@media screen and (min-width: 480px) and (max-width: 1200px) {
    nav ul li {
        display: none;
    }

    .menu i {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
 
    .col_md_4 {
        width: calc(100% / 12 *4);
    }    

    .col_md_6 {
        width: calc(100% / 12 *6);
    }

    .col_md_8 {
        width: calc(100% / 12 *8);
    }

}

@media screen and (min-width: 1200px) {
    .col_lg_6 {
        width: 50%;
    }
    
    .col_lg_4 {
        width: calc(100% /12 *4);
    }
}

/* #endregion RESPONSIVE */